{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('localhost:5000');
    socket.on('connect', function() {
      socket.emit('conn', {data: 'new page'});
    }); 

    socket.on('my event', function(data) {
      console.log(data);
      $('#entries').prepend(`<li><h2>${data.title}</h2>${data.text}</li>`)
    });

</script>

  <ul id=entries>
  {% for entry in entries %}
    <li><h2>message_id: {{ entry.message_id }}</h2> recipient: {{ entry.recipient_id }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}